.filterBar {
  display: flex;
  justify-content: space-between;
}

.filterBar input {
  min-width: 55%;
  padding: var(--app-input-padding);
  background-color: var(--app-item-bg-color);
  border: var(--app-border);
  color: var(--app-text-color);
}

.statuses span {
  display: inline-block;
  width: 40px;
  background-color: var(--app-item-bg-color);
  border: var(--app-border);
  padding: var(--app-input-padding);
  text-align: center;
  cursor: pointer;
  color: var(--app-blured-color);
}

.statuses span.active {
  color: var(--app-text-color);
  font-weight: bold;
}

@media screen and (max-width: 414px) {
  .filterBar {
    display: block;
    position: relative;
  }
  .filterBar input {
    width: 100%;
    box-sizing: border-box;
  }
  .statuses {
    margin-top: 30px;
    float: right;
  }
}
