.server {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 24px 128px 256px 96px 96px;
}

.server span {
  font-size: large;
}

.serverSpecInfo {
  background-color: #151414;
  padding: 24px;
}

.serverSpecInfo a {
  color: var(--app-text-color);
  font-weight: bold;
}

.serverSpecInfo a:hover {
  opacity: 0.7;
}
