.checkbox {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.checkbox rect,
.checkbox path {
  stroke: var(--app-text-color);
}

.checkbox.done rect,
.checkbox.done path {
  stroke: var(--app-blured-color);
}
