:root {
  --app-border-color: #555;
  --app-border: 1px solid var(--app-border-color);
  --app-item-bg-color: #2b2b2b;
  --app-item-focused-bg-color: #3b3b3b;
  --app-text-color: #efefef;
  --app-focused-color: #fefefe;
  --app-blured-color: #999;
  --app-input-padding: 16px;
}

.container {
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  color: var(--app-text-color);
  font-size: 14px;
}

@media screen and (max-width: 414px) {
  .container {
    padding: 40px;
  }
}

.errorMessage {
  color: red;
}

input[type='text'],
button {
  padding: var(--app-input-padding);
  background-color: var(--app-item-bg-color);
  border: var(--app-border);
  color: var(--app-text-color);
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.server {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: 24px 128px 256px 96px 96px;
}

.server span {
  font-size: large;
}
